body {
	background-color: #3a476d;
}

h1{
	color:white;
}

h5 {
	font-size:12px; margin:0px; color:gold;
}

a.wlink{
	text-decoration:none; 
	color:white;
}

table.register{
	border-collapse: collapse;
}

table.register tr td {
   color:white;
   border: solid 1px;
}

table.register tr td  a{
   color:white;
}

table.register  tr.header  td {
	font-size:22px;
	color:gold;
	background-color:black;
	padding:8px;
	border: solid 1px white;
}
table.register  tr.header  td  a{
	text-decoration:underline;
	color:gold;
}

table.register tr.odd{
 background-color:grey;
}

table.register tr:hover {
 background-color:red;
 color:red;
}

ul.tableref  li a:hover{
  color:gold;
}

ul{
	font-size:12px; margin:0px; padding:0px;
}

ul.menu{
	padding-left:25px;
}

.highlight{
	background-color:#ca1434;
}